.coulBase{color:#E18400;}
.borderCoulBase{border-left : 3px solid #E18400;}
.bgCoulBase{background-color : #E18400;}
.coul88429D{color:#88429D;}
.borderdroiteCoul88429D{border-left : 3px solid #88429D;}
.bordergaucheCoul88429D{border-right : 3px solid #88429D;}
.borderBasCoul88429D h3 {border-bottom : 3px solid #88429D;}
.border2BasCoul88429D h3 {border-bottom : 3px solid #88429D;}
.bgCoul88429D{background-color : #88429D;}
.tourCoul88429D{border : 1px solid #88429D;}
.borderTitreCoul88429D{border-bottom: 3px solid #88429D;}
.coulEA6BA5{color:#EA6BA5;}
.borderdroiteCoulEA6BA5{border-left : 3px solid #EA6BA5;}
.bordergaucheCoulEA6BA5{border-right : 3px solid #EA6BA5;}
.borderBasCoulEA6BA5 h3 {border-bottom : 3px solid #EA6BA5;}
.border2BasCoulEA6BA5 h3 {border-bottom : 3px solid #EA6BA5;}
.bgCoulEA6BA5{background-color : #EA6BA5;}
.tourCoulEA6BA5{border : 1px solid #EA6BA5;}
.borderTitreCoulEA6BA5{border-bottom: 3px solid #EA6BA5;}
.coul4330F7{color:#4330F7;}
.borderdroiteCoul4330F7{border-left : 3px solid #4330F7;}
.bordergaucheCoul4330F7{border-right : 3px solid #4330F7;}
.borderBasCoul4330F7 h3 {border-bottom : 3px solid #4330F7;}
.border2BasCoul4330F7 h3 {border-bottom : 3px solid #4330F7;}
.bgCoul4330F7{background-color : #4330F7;}
.tourCoul4330F7{border : 1px solid #4330F7;}
.borderTitreCoul4330F7{border-bottom: 3px solid #4330F7;}
.coulD8C600{color:#D8C600;}
.borderdroiteCoulD8C600{border-left : 3px solid #D8C600;}
.bordergaucheCoulD8C600{border-right : 3px solid #D8C600;}
.borderBasCoulD8C600 h3 {border-bottom : 3px solid #D8C600;}
.border2BasCoulD8C600 h3 {border-bottom : 3px solid #D8C600;}
.bgCoulD8C600{background-color : #D8C600;}
.tourCoulD8C600{border : 1px solid #D8C600;}
.borderTitreCoulD8C600{border-bottom: 3px solid #D8C600;}
.coulA3D5F1{color:#A3D5F1;}
.borderdroiteCoulA3D5F1{border-left : 3px solid #A3D5F1;}
.bordergaucheCoulA3D5F1{border-right : 3px solid #A3D5F1;}
.borderBasCoulA3D5F1 h3 {border-bottom : 3px solid #A3D5F1;}
.border2BasCoulA3D5F1 h3 {border-bottom : 3px solid #A3D5F1;}
.bgCoulA3D5F1{background-color : #A3D5F1;}
.tourCoulA3D5F1{border : 1px solid #A3D5F1;}
.borderTitreCoulA3D5F1{border-bottom: 3px solid #A3D5F1;}
.coulC0D64C{color:#C0D64C;}
.borderdroiteCoulC0D64C{border-left : 3px solid #C0D64C;}
.bordergaucheCoulC0D64C{border-right : 3px solid #C0D64C;}
.borderBasCoulC0D64C h3 {border-bottom : 3px solid #C0D64C;}
.border2BasCoulC0D64C h3 {border-bottom : 3px solid #C0D64C;}
.bgCoulC0D64C{background-color : #C0D64C;}
.tourCoulC0D64C{border : 1px solid #C0D64C;}
.borderTitreCoulC0D64C{border-bottom: 3px solid #C0D64C;}
