section.corps.model8 .box .clearBoth{
	height : 1%;
}

section.corps.model8 .box{
	height      : 23%;
	width       : 47%;
	float       : left;
	margin-top  : 2%;
	margin-right: 3%;
	overflow    : hidden;

}
section.corps.model8 .box img{
	height: 100%;
}

section.corps.model8{
	font-size: 1.2vmin;
}

section.corps.model8 img{
	float: right;
	width: 25%;
}

section.corps.model8 .box figure{
	width     : 40%;
	height    : 92%;
	text-align: center;
}
section.corps.model8 .box figure img{
	width: 100%;
	margin: 0 auto;
	margin-right: 4%;
}

section.corps.model8 .box figure figcaption{
	text-align: left;
	height    : 17.4%;
	font-size : 1.5vmin;
}
section.corps.model8 .box figure{
	margin : 0;
	padding: 0;
}
section.corps.model8 .box.imgG figure{float: left;}
section.corps.model8 .box.imgD figure{float: right;}

section.corps.model8 .box .infoPDT{
	height: 65%;
	overflow: hidden;
}

section.corps.model8 .box .infoPDT p{
	width: 92%;
	margin     : 0;
	line-height: 100%;
	/*overflow: hidden;*/
	text-overflow:    ellipsis;
}

section.corps.model8 .box h3{
	display      : inline-block;
	/*border-bottom: 3px solid #ea44e7; */
	font-size    : 1.2vmin;
	width        : 50%;
	color: #78bbd2;
}



section.corps.model8 .box.imgD h3{
	text-align: right;
}



section.corps.model8 .box.imgD .prixBtn a img.panierIco{
	width       : 15%;
	height      : auto;
	float       : right;
	margin-right: 2%;
}
section.corps.model8 .box.imgG .prixBtn a img.panierIco{
	width       : 15%;
	height      : auto;
	float       : left;
	margin-right: 2%;
}

section.corps.model8 .box.imgD .prixBtn a img.newIco{
	width     : 25%;
	height    : auto;
	float     : right;
	margin-top: 2%;
}
section.corps.model8 .box.imgG .prixBtn a img.newIco{
	width     : 25%;
	height    : auto;
	float     : left;
	margin-top: 2%;
}

section.corps.model8 .box.imgG .prixBtn .infoPrix{
	float: left;
}

section.corps.model8 .box.imgD .prixBtn .infoPrix{
	float: right;
}

section.corps.model8 .box .prixBtn .infoPrix{
	margin-top      : 2%;
	margin-right    : 2%;
	width           : 45%;
	padding         : 2%;
	background-color: #e9ebed;
	border-radius   : 5px;
	font-size       : 1.2vmin;
	/*border          : 2px solid #e2d9eb;*/
	position        : relative;
}

section.corps.model8 .box .prixBtn .infoPrix span.price{
	position: absolute;
	bottom  : 5px;
	right   : 5px;
	color   : red;
	font-size       : 1.6vmin;
}
section.corps.model8 .box .prixBtn .infoPrix span.price sup{
	font-size: 0.8vmin;
}

section.corps.model8 .box .prixBtn .infoPrix .prixBarre{
	/*position: absolute;
	left: 0;*/
	display        : block;
	text-decoration: line-through;
	color          : red;
	margin-top     : 3%;
}
