section.page2{
	height  : 100%;
	overflow: hidden;
}
section.page2 .cadre{
	height : 50%;
}

/*section.page2 fieldset{border: 0;}*/

section.page2 .cadre.historique{
	padding-top: 5%;
	padding-right: 5%;
	font-size: 1.5vmin;
}
section.page2 .cadre.historique .cadreHisto{
	width : 30%;
	margin: 2%;
	float : left;
}

section.page2 .cadre.infos h3{
	text-align: center;
	font-size: 1.7vmin;
}

section.page2 .cadre.infos img.icon{
	width       : 5%;
	margin-right: 1%;
	height      : auto;
}